%script{type:'text/javascript'}!= initialize_function
%div{class:'container_12'}
  %div{class:'grid_12'}
    %h1{id:'branding'}
      %a{href:'../../'} NodeBlogs
  %div{class:'clear'}
  %div{class:'grid_12'}
    %ul{class:'nav  main'}
      %li{class:'secondary'}
        %a{href:'http://nodejs.org/', title:'An aggregator for the node.js community'} NodeJS
  %div{class:'clear'}
  %div{class:'grid_12'}
    %h3{id:'page-heading'}
  %div{class:'clear'}
  %div{class:'grid_7'}
    %div{class:'box articles'}
      %h2
        %a{href:'feeds/main.xml'}
        %img{src:'public/images/rss-feed.png', width:15, height:15}        
        = " Articles"      
      %div{class:'block', id:'articles'}
        - each entry in entries
          %div{class:'article'}
            %h3
              %a{href:entry.link}!= entry.title
            %h4
              != entry.creator 
              @
              != entry.channel
            %p{class:'meta'}= entry.published_on
            %p!= entry.description
  %div{class:'grid_5'}
    %div{class:'box image'}
      %h2 Community Members
      %div{class:'block last'}
        - each user in users
          %a{href:'http://www.github.com/' + user.login, class:'image'}
            %img{src:user.gravatar_url, width:60, height:60, alt:user.name}
    %div{class:'box'}
      %h2 Community Member Locations
      %div{class:'block map', id:'map_canvas'}    
    %div{class:'box'}
      %h2 Community Projects
      %div{class:'block'}
        %table
          %thead
            %tr
              %th Name
              %th Watchers
              %th Description
          %tbody
            - each project in projects
              %tr
                %td
                  %a{href:"http://www.github.com/" + project.owner + "/" + project.name}= project.name      
                %td!= project.watchers      
                %td!= project.description      
  %div{class:'clear'}
  %div{class:'grid_12', id:'site_info'}
    %div{class:'box'}
      %p!= 'NodeBlogs.com, created by <a href="http://christiankvalheim.com">Christian Kvalheim</a>, based on the <a href="http://960.gs/">960 Grid System</a> by <a href="http://sonspring.com/journal/960-grid-system">Nathan Smith</a>. Released under the <a href="../../licenses/GPL_license.txt">GPL</a> / <a href="../../licenses/MIT_license.txt">MIT</a> <a href="../../README.txt">Licenses</a>.'
  %div{class:'clear'}
  